@font-face {
  font-family: gill;
  src: url("../GillSans/Gill\ Sans.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-stack: gill;
$primary-color: rgb(190, 0, 38);
$primary-color: #fe2a48;
$primary-color: #dc143c;
$secondary-color: #f87d0a;
$secondary-color: #cc9411;
$light-color: white;
